<div class="container">
    <p></p>
    <h2>Products</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of products">
                <tr>
                  <th scope="row">{{product.id}}</th>
                  <th> <a  [routerLink]="['/product',product.id]" routerLinkActive="active">{{product.name}}</a> </th>
                </tr>
              </ng-container>
        </tbody>
      </table>    
</div>
